<h1><%= @brewery.name %> Beers</h1>
<%= link_to 'Add New Beer', "/breweries/#{@brewery.id}/beers/new" %>
<%= link_to 'Alphabetize', "/breweries/#{@brewery.id}/alphabetical_beers" %> 
<section id="beers">
<% @beers.each do |beer| %>
	<section id="beer-<%= beer.id %>">
	<h3><p><%= beer.style_name %></p></h3>
  <p>ABV: <%= beer.abv %>%</p>
	<p>Dry Hopped: <%= beer.dry_hop %></p>
	<%= link_to "Edit Beer", "/breweries/#{@brewery.id}/beers/#{beer.id}/edit" %>
	</section>
<% end %>
</section>