<h1><%= @brewery.name %> Beers</h1>
<section id="beers">
<% @beers.each do |beer| %>
	<section id="beer-<%= beer.id %>">
	<h3><p><%= beer.style_name %></p></h3>
  <p>ABV: <%= beer.abv %>%</p>
	<p>Dry Hopped: <%= beer.dry_hop %></p>
<% end %>
</section>