<h1>Add Beer</h1>
<%= form_with url: "/breweries/#{@brewery.id}/beers", method: :post, data: {turbo: false}, local: true do |f| %>
  <p><%= f.label :style_name, "Style Name" %>
  <%= f.text_field :style_name %></p>

  <p><%= f.label :abv, "ABV" %>
  <%= f.text_field :abv %></p>

  <p><%= f.label :dry_hop, "Dry Hop" %>
    <%= f.check_box :dry_hop %></p>

  <p><%= f.submit "Add Beer" %></p>
<% end %>