<h1>Breweries</h1>
<%= link_to 'Add Brewery', '/breweries/new' %>
<section id="breweries">
<% @breweries.each do |brewery| %>
  <section id="brewery-<%= brewery.id %>">
  <h3><p><%= brewery.name %></p></h3>
  <p>Created at: <%= brewery.created_at %></p>
  <%= link_to "Edit Brewery", "/breweries/#{brewery.id}/edit" %>
	</section>
<% end %>
</section>


